USE [master]
GO
/****** Object:  Database [GilmetdinovaHospital]    Script Date: 12.11.2024 7:02:29 ******/
CREATE DATABASE [GilmetdinovaHospital]
 CONTAINMENT = NONE

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GilmetdinovaHospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GilmetdinovaHospital]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 12.11.2024 7:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCTOR_SURNAME] [nvarchar](max) NOT NULL,
	[DOCTTOR_NAME] [nvarchar](max) NOT NULL,
	[DOCTOR_PATRONYMIC] [nvarchar](max) NOT NULL,
	[DOCTOR_POST_ID] [int] NOT NULL,
	[DOCTOR_EXPERIENCE_DATA] [date] NULL,
	[DOCTOR_EXPERIENCE]  AS (datediff(year,[DOCTOR_EXPERIENCE_DATA],getdate())+case when datepart(month,[DOCTOR_EXPERIENCE_DATA])>datepart(month,getdate()) OR datepart(month,[DOCTOR_EXPERIENCE_DATA])=datepart(month,getdate()) AND datepart(day,[DOCTOR_EXPERIENCE_DATA])>datepart(day,getdate()) then (-1) else (0) end),
	[DOCTOR_SCIENTIFIC] [nvarchar](max) NOT NULL,
	[DOCTOR_ADRESS] [nvarchar](max) NOT NULL,
	[DOCTOR_SALARY] [decimal](18, 2) NULL,
	[MainImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK__DOCTOR__596ABDB0635B7B58] PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICALHISTORY]    Script Date: 12.11.2024 7:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICALHISTORY](
	[MEDICALHISTORY_ID] [int] NOT NULL,
	[MEDICALHISTORY_DOCTOR_ID] [int] NOT NULL,
	[MEDICALHISTORY_PATIENT_ID] [int] NOT NULL,
	[MEDICALHISTORY_DIAGNOSIS] [nvarchar](max) NOT NULL,
	[MEDICALHISTORY_DATEOFFILLNESS] [date] NOT NULL,
	[MEDICALHISTORY_DATEOFFRECOVERY] [date] NOT NULL,
	[MEDICALHISTORY_VIEWOFFTREARMENT] [nvarchar](15) NOT NULL,
	[MEDICALHISTORY_OPERATION_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDICALHISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION]    Script Date: 12.11.2024 7:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION](
	[OPERATION_ID] [int] NOT NULL,
	[OPERATION_DESCRIPTION] [nvarchar](max) NOT NULL,
	[OPERATION_DOCTOR_ID] [int] NOT NULL,
	[OPERATION_DATE] [date] NOT NULL,
	[OPERATION_RESULT] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 12.11.2024 7:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENT_ID] [int] NOT NULL,
	[PATIENT_SURNAME] [nvarchar](max) NOT NULL,
	[PATIENT_NAME] [nvarchar](max) NOT NULL,
	[PATIENT_PATRONYMIC] [nvarchar](max) NOT NULL,
	[PATIENT_ADRESS] [nvarchar](max) NULL,
	[PATIENT_CITY] [nvarchar](max) NOT NULL,
	[PATIENT_BIRTHDATE] [date] NOT NULL,
	[PATIENT_AGE]  AS (datediff(year,[PATIENT_BIRTHDATE],getdate())+case when datepart(month,[PATIENT_BIRTHDATE])>datepart(month,getdate()) OR datepart(month,[PATIENT_BIRTHDATE])=datepart(month,getdate()) AND datepart(day,[PATIENT_BIRTHDATE])>datepart(day,getdate()) then (-1) else (0) end),
	[PATIENT_GENDER] [nvarchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 12.11.2024 7:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[POST_NAME] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENTLIST]    Script Date: 12.11.2024 7:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENTLIST](
	[TREATMENTLIST_ID] [int] NOT NULL,
	[TREATMENTLIST_DATE] [date] NOT NULL,
	[TREATMENTLIST_MEDICALHISTORY_ID] [int] NOT NULL,
	[TREATMENTLIST_MEDICINES] [nvarchar](max) NOT NULL,
	[TREATMENTLIST_TEMPERATURE] [nchar](10) NOT NULL,
	[TREATMENTLIST_PRESSURE] [nvarchar](10) NULL,
	[TREATMENTLIST_PATIENTSCONDITION] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TREATMENTLIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCTOR] ON 

INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [DOCTOR_SURNAME], [DOCTTOR_NAME], [DOCTOR_PATRONYMIC], [DOCTOR_POST_ID], [DOCTOR_EXPERIENCE_DATA], [DOCTOR_SCIENTIFIC], [DOCTOR_ADRESS], [DOCTOR_SALARY], [MainImagePath]) VALUES (1, N'Чанышева', N'Гульнара', N'Рустемовна', 1, CAST(N'1990-05-14' AS Date), N'Доктор медицинских наук', N'Малая Бронная ул., 9, Москва, 133813', CAST(38236.00 AS Decimal(18, 2)), N'res\qqe.jpeg')
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [DOCTOR_SURNAME], [DOCTTOR_NAME], [DOCTOR_PATRONYMIC], [DOCTOR_POST_ID], [DOCTOR_EXPERIENCE_DATA], [DOCTOR_SCIENTIFIC], [DOCTOR_ADRESS], [DOCTOR_SALARY], [MainImagePath]) VALUES (2, N'Беляева', N'Полина', N'Витальевна', 4, CAST(N'2014-06-19' AS Date), N'Кандидат медицинских наук', N'Чистый пер., 88, Москва, 147332', CAST(60238.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [DOCTOR_SURNAME], [DOCTTOR_NAME], [DOCTOR_PATRONYMIC], [DOCTOR_POST_ID], [DOCTOR_EXPERIENCE_DATA], [DOCTOR_SCIENTIFIC], [DOCTOR_ADRESS], [DOCTOR_SALARY], [MainImagePath]) VALUES (3, N'Киселёва', N'Татьяна', N'Юрьевна', 4, CAST(N'1986-10-13' AS Date), N'Доктор медицинских наук', N'Новый Арбат ул., 7, Москва, 170383', CAST(77136.00 AS Decimal(18, 2)), N'res\жен1.jpg')
SET IDENTITY_INSERT [dbo].[DOCTOR] OFF
GO
INSERT [dbo].[MEDICALHISTORY] ([MEDICALHISTORY_ID], [MEDICALHISTORY_DOCTOR_ID], [MEDICALHISTORY_PATIENT_ID], [MEDICALHISTORY_DIAGNOSIS], [MEDICALHISTORY_DATEOFFILLNESS], [MEDICALHISTORY_DATEOFFRECOVERY], [MEDICALHISTORY_VIEWOFFTREARMENT], [MEDICALHISTORY_OPERATION_ID]) VALUES (1, 3, 1, N'Оспа', CAST(N'2019-04-30' AS Date), CAST(N'2019-05-30' AS Date), N'Амбулаторное', 1)
INSERT [dbo].[MEDICALHISTORY] ([MEDICALHISTORY_ID], [MEDICALHISTORY_DOCTOR_ID], [MEDICALHISTORY_PATIENT_ID], [MEDICALHISTORY_DIAGNOSIS], [MEDICALHISTORY_DATEOFFILLNESS], [MEDICALHISTORY_DATEOFFRECOVERY], [MEDICALHISTORY_VIEWOFFTREARMENT], [MEDICALHISTORY_OPERATION_ID]) VALUES (2, 4, 2, N'Цинга', CAST(N'2011-10-09' AS Date), CAST(N'2011-12-09' AS Date), N'Амбулаторное', 2)
INSERT [dbo].[MEDICALHISTORY] ([MEDICALHISTORY_ID], [MEDICALHISTORY_DOCTOR_ID], [MEDICALHISTORY_PATIENT_ID], [MEDICALHISTORY_DIAGNOSIS], [MEDICALHISTORY_DATEOFFILLNESS], [MEDICALHISTORY_DATEOFFRECOVERY], [MEDICALHISTORY_VIEWOFFTREARMENT], [MEDICALHISTORY_OPERATION_ID]) VALUES (3, 19, 3, N'Травма руки', CAST(N'2018-05-29' AS Date), CAST(N'2018-06-29' AS Date), N'Станционарное', 3)
GO
INSERT [dbo].[OPERATION] ([OPERATION_ID], [OPERATION_DESCRIPTION], [OPERATION_DOCTOR_ID], [OPERATION_DATE], [OPERATION_RESULT]) VALUES (1, N'Дистальная резекция поджелудочной железы', 3, CAST(N'2014-11-09' AS Date), NULL)
INSERT [dbo].[OPERATION] ([OPERATION_ID], [OPERATION_DESCRIPTION], [OPERATION_DOCTOR_ID], [OPERATION_DATE], [OPERATION_RESULT]) VALUES (2, N'Ушивание прободной язвы желудка', 11, CAST(N'2003-09-12' AS Date), NULL)
INSERT [dbo].[OPERATION] ([OPERATION_ID], [OPERATION_DESCRIPTION], [OPERATION_DOCTOR_ID], [OPERATION_DATE], [OPERATION_RESULT]) VALUES (3, N'Тимпанотомия', 19, CAST(N'2014-03-05' AS Date), NULL)
GO
INSERT [dbo].[PATIENT] ([PATIENT_ID], [PATIENT_SURNAME], [PATIENT_NAME], [PATIENT_PATRONYMIC], [PATIENT_ADRESS], [PATIENT_CITY], [PATIENT_BIRTHDATE], [PATIENT_GENDER]) VALUES (1, N'Лосев', N'Кирилл', N'Георгиевич', N'Калинина ул., д. 12 кв.93', N'г. Волгоград', CAST(N'2005-08-05' AS Date), N'Мужской')
INSERT [dbo].[PATIENT] ([PATIENT_ID], [PATIENT_SURNAME], [PATIENT_NAME], [PATIENT_PATRONYMIC], [PATIENT_ADRESS], [PATIENT_CITY], [PATIENT_BIRTHDATE], [PATIENT_GENDER]) VALUES (2, N'Балашова', N'Елизавета', N'Мироновна', N'Пушкина ул., д. 4 кв.38', N'г. Набережные Челны', CAST(N'2006-05-13' AS Date), N'Женский')
INSERT [dbo].[PATIENT] ([PATIENT_ID], [PATIENT_SURNAME], [PATIENT_NAME], [PATIENT_PATRONYMIC], [PATIENT_ADRESS], [PATIENT_CITY], [PATIENT_BIRTHDATE], [PATIENT_GENDER]) VALUES (3, N'Спиридонова', N'Алия', N'Евгеньевна', N'Красноармейская ул., д. 19 кв.81', N'г. Кисловодск', CAST(N'2005-05-11' AS Date), N'Женский')
GO
SET IDENTITY_INSERT [dbo].[POST] ON 

INSERT [dbo].[POST] ([POST_ID], [POST_NAME]) VALUES (1, N'Главный врач')
INSERT [dbo].[POST] ([POST_ID], [POST_NAME]) VALUES (2, N'Младший медицинский персонал')
INSERT [dbo].[POST] ([POST_ID], [POST_NAME]) VALUES (3, N'Заведующий отделением')
SET IDENTITY_INSERT [dbo].[POST] OFF
GO
INSERT [dbo].[TREATMENTLIST] ([TREATMENTLIST_ID], [TREATMENTLIST_DATE], [TREATMENTLIST_MEDICALHISTORY_ID], [TREATMENTLIST_MEDICINES], [TREATMENTLIST_TEMPERATURE], [TREATMENTLIST_PRESSURE], [TREATMENTLIST_PATIENTSCONDITION]) VALUES (1, CAST(N'2019-04-30' AS Date), 1, N'Йод-Ка, Йоностерил, Перфалган', N'38,2      ', N'111/87', N'Среднее')
INSERT [dbo].[TREATMENTLIST] ([TREATMENTLIST_ID], [TREATMENTLIST_DATE], [TREATMENTLIST_MEDICALHISTORY_ID], [TREATMENTLIST_MEDICINES], [TREATMENTLIST_TEMPERATURE], [TREATMENTLIST_PRESSURE], [TREATMENTLIST_PATIENTSCONDITION]) VALUES (2, CAST(N'2011-10-09' AS Date), 2, N'Предизин, Унифлокс', N'39,6      ', N'113/90', N'Среднее')
INSERT [dbo].[TREATMENTLIST] ([TREATMENTLIST_ID], [TREATMENTLIST_DATE], [TREATMENTLIST_MEDICALHISTORY_ID], [TREATMENTLIST_MEDICINES], [TREATMENTLIST_TEMPERATURE], [TREATMENTLIST_PRESSURE], [TREATMENTLIST_PATIENTSCONDITION]) VALUES (3, CAST(N'2018-05-29' AS Date), 3, N'Кашнол, Квикс', N'36,5      ', NULL, N'Легкое')
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_POST] FOREIGN KEY([DOCTOR_POST_ID])
REFERENCES [dbo].[POST] ([POST_ID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_DOCTOR_POST]
GO
ALTER TABLE [dbo].[MEDICALHISTORY]  WITH CHECK ADD  CONSTRAINT [FK__MEDICALHI__MEDIC__2C3393D0] FOREIGN KEY([MEDICALHISTORY_DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[MEDICALHISTORY] CHECK CONSTRAINT [FK__MEDICALHI__MEDIC__2C3393D0]
GO
ALTER TABLE [dbo].[MEDICALHISTORY]  WITH CHECK ADD FOREIGN KEY([MEDICALHISTORY_PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[MEDICALHISTORY]  WITH CHECK ADD FOREIGN KEY([MEDICALHISTORY_OPERATION_ID])
REFERENCES [dbo].[OPERATION] ([OPERATION_ID])
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK__OPERATION__OPERA__2F10007B] FOREIGN KEY([OPERATION_DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK__OPERATION__OPERA__2F10007B]
GO
ALTER TABLE [dbo].[TREATMENTLIST]  WITH CHECK ADD FOREIGN KEY([TREATMENTLIST_MEDICALHISTORY_ID])
REFERENCES [dbo].[MEDICALHISTORY] ([MEDICALHISTORY_ID])
GO
ALTER TABLE [dbo].[MEDICALHISTORY]  WITH CHECK ADD  CONSTRAINT [CK_MEDICALHISTORY] CHECK  (([MEDICALHISTORY_VIEWOFFTREARMENT]='Амбулаторное' OR [MEDICALHISTORY_VIEWOFFTREARMENT]='Станционарное'))
GO
ALTER TABLE [dbo].[MEDICALHISTORY] CHECK CONSTRAINT [CK_MEDICALHISTORY]
GO
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD  CONSTRAINT [CK_PATIENT] CHECK  (([PATIENT_GENDER]='Мужской' OR [PATIENT_GENDER]='Женский'))
GO
ALTER TABLE [dbo].[PATIENT] CHECK CONSTRAINT [CK_PATIENT]
GO
ALTER TABLE [dbo].[TREATMENTLIST]  WITH CHECK ADD  CONSTRAINT [CK_TREATMENTLIST] CHECK  (([TREATMENTLIST_PATIENTSCONDITION]='Легкое ' OR [TREATMENTLIST_PATIENTSCONDITION]='Среднее ' OR [TREATMENTLIST_PATIENTSCONDITION]='Тяжелое '))
GO
ALTER TABLE [dbo].[TREATMENTLIST] CHECK CONSTRAINT [CK_TREATMENTLIST]
GO
USE [master]
GO
